#div1 {
    width: 200px;
    height: 200px;
    border: 1px solid;
}

.container {
    margin: 20px;
}

.puzzle-img-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.puzzle-img {
    width: 100px;
    cursor: move;
}

.parent {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    grid-row-gap: 3px;
    grid-column-gap: 3px;
    border: 5px solid;
    padding: 10px;
    img {
        height: 50px;
        width: 100%;       
    }
}


.children {
    width: 100%;
    height: 50px;
    border: 1px solid;
}